footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top: 2px solid white;
}
footer a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
footer a img{
    display: inline-block;
    margin: 10px;
}
 @media (min-width:850px){
    footer{
        background-color: #222831;
        color: white;
    }
 }