html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    cursor: pointer;
    transition: 0.25s;
}
h2{
    font-size: 3em;
}
section{
    text-align: center;
}
button:hover{
    transform: scale(1.1) translateY(-5px);
}

#featured{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
#featuredVideo{
    border-radius: 20px;
    box-shadow: inset 8px 5px 20px black;
}


.CardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.card{
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #e9ecef;
    color: #31363F;
    box-shadow: 5px 8px 20px #222831;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-20px) rotate(3deg) scale(1.1);
}
.card-img{
    width: 100%;
}
.card-head{
    font-size: 1.2em;
}
.card-descrription{
    text-align: justify;
    word-spacing: 4px;
    line-height: 24px;
}
.card button{
    color: #222831;
    border: none;
    background-color: #76ABAE;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 20px;

    margin: 10px;
}
.video{
    width: 	400px;
    height: 225px;
    margin: 20px;
}
#image-gallery a button{
    color: white;
    background-color: #76ABAE;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 20px;

}
#image-gallery{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
@media (max-width:400px) {
    .video{
        height: 168px;
        width: 300px;
    }
    .card{
        width: 250px;
    }
}
@media (max-width:890px) {
    #image-gallery a button{
        color: white;
        background-color: #76ABAE;
        border: none;
        padding: 5px 15px;
        font-size: 12px;
        border-radius: 20px;
    }
    .video{
        max-width: 360px;
        max-height: 202.5px;
        margin: 20px;
    }
    h2{
        font-size: 2em;
    }
    body{
        background-color: #222831;
        color: white;
    }
    .card{
        background-color: #31363F;
        color: white;
    }
    .card:hover{
        transform: translateY(0);
    }
    .CardContainer{
        flex-direction: column;
    }
}
